{% extends 'base.html' %}
{% block content %}
<section>
    <div class="form-bg">

        <form action="" method="POST">
            
                <div>
                    <label for="username">帳號:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div>
                    <label for="password">密碼:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div >
                    <input id="user" type="submit" value=" 登入 ">
                </div>   
        </form>
    </div>
    
</section>

{% endblock %}