{% extends 'base.html' %}
{% block content %}
<section>
    <div class="form-bg">

        <form action="" method="POST">
            <fieldset id="login">
                <legend>管理者登入</legend>
                <div>
                    <label for="username">帳號:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div>
                    <label for="password">密碼:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div id="user">
                    <input type="submit" value="登入">
                </div>
            </fieldset>    
        </form>
    </div>
    
</section>

{% endblock %}