<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href={{ url_for('static', filename='index.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='buy.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='admin.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='boss.css') }}>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <title>喜樂園辣椒醬</title>
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {%endif%}
    {% endwith%}
    
    <nav id="web-top">
        <ul>
            <li class="ul-style"><a href={{ url_for('index') }}>首頁</a></li>            
            <li class="ul-style"><a href="#story">品牌介紹</a></li>
            <li class="ul-style"><a href="#commodity">主要商品</a></li>
            <li class="ul-style"><a href="#article">最新消息</a></li>
            <li class="ul-style"><a href="#foo">聯絡方式</a></li>
            {% if current_user.is_authenticated %}
            <li class="ul-style"><a href={{ url_for('boss_page') }}>訂單資料</a></li>
            <li class="ul-style"><a href={{ url_for('logout') }}>登出</a></li>
            {% endif %}    
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    
    <footer id="foo">
        <div id="foo-inline">
            <div>
                <h1><a href={{ url_for('buy') }}>立刻訂購</a></h1>
                <ul>
                    <li class="ul-style"><a href="">電子信箱:XXX@mail.com</a></li>
                    <li class="ul-style"><a href="">連絡電話:09XX-xxx-ooo</a></li>
                    <li class="ul-style"><a href="">加入粉絲:facebook.com</a></li>
                </ul>
            </div>
            <div></div>
            <div>
                <h1>店面位置</h1>
                <div>
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.503524895568!2d121.60654711531045!3d23.97799018595996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34689fc1aebc22bd%3A0x3694837623966768!2z5beo5Yyg6Zu76IWmLeiKseiTruiqjeitiSB8IOWtuOmbu-iFpuiqsueoiyB8IOmbu-iFpuijnOe_kuePrQ!5e0!3m2!1szh-TW!2stw!4v1596677736478!5m2!1szh-TW!2stw" 
                        width="250" height="250" frameborder="0" style="border:2px solid #000;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                </div>
            </div>
        </div>
        <div id="copy">
            <p><small>&copy; 2020 喜樂園辣椒醬</small></p>
        </div>    
    </footer>
    
    <script src={{ url_for('static', filename='main.js') }}></script>
    {% block script %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale('zh-cn') }}
    {% endblock %}
</body>
</html>