{% extends 'base.html' %}
{% block content %}
<section>
    
    <div id="story">
        
        <h1>品牌故事</h1>
        <hr>
        <p>
        辣椒富含營養，但很多人敬謝不敏 ，不敢吃辣，其實是未曾吃到美味的好辣椒。
        辣椒，是這麼吃的～輕放在舌尖，先吸吮汁液，再細細咀嚼，感受層次分明、豐饒多變的滋味，與深沉有韻的香滋。
        從舌尖至全身，一點一點暖了起來，再加上蒜蓉獨特的香氣，兩者渾然天成的好味道油然而生。
        </p>
        <p>
        家裡人口少，每每只有自己和女兒用餐，常不知如何準備，因緣際會下做了蒜蓉辣椒醬，
        這成為我們餐桌上的明星，不論是拌飯，拌麵，吃餃子，餛飩湯，甚至連炒菜，做涼拌都少不了它，
        從此展開另一段奇妙的香料人生。胃裡暖和了，心就熱了，願我們的喜樂成為大家餐桌上的祝福
        </p>
        <hr>
    </div>
    <div id="commodity"></div>
    <div></div>
</section>
{% endblock %}