[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-moment = "*"
python-dotenv = "*"
pymysql = "*"
flask-login = "*"
flask-mail = "*"

[requires]
python_version = "3.7"
