@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2em;
    background-color: #ff3333;
    
}

nav a {
    color: white;
    margin-left: 2em;
    text-decoration: none;    
}

nav a:hover {
    text-decoration: none;
    color: #ffcc99;

}

header {
    
}

img {
    
    width: 30%;
    height: 30%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ff6633;
    margin-left: auto;
    margin-right: auto;
    height: 2200px;
}

#story {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    color: white;
    text-align: justify;
    text-indent: 2em;    
}


#commodity {
    background-color: #ffcc99;
}

footer {
    width: 100%;
    background-color: #ff3333;
}

#foo1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 25vh;
    color: rgb(255, 255, 255);
    padding-top: 2em;
    margin-left: 2em;
    line-height: 2em;
    
}

#foo1-b {
    margin-left: 10em;
}

#foo2 {
    color: #a5a5a5;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1em;
}

