/* 以下為共有樣式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微軟正黑體", Arial, sans-serif;
    /* box-sizing: border-box; */
}

html {
    Scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.buy_style {
    color: #000;
    transition: .5s;
}

.buy_style:hover {
    border: 3px solid #fa0;
    border-radius: 5px;
}
/* 以下為選單樣式 */

/* 隱藏checked多寫幾種隱藏方式作保險 */
#menu_checked {
    position: absolute;
    z-index: -99;
    opacity: 0;
}

#web_top {
    height: 70px;
    background-color: #ff3333;
    position: relative;
}
#web_top nav a {
    display: block;
    width: auto;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 20px 50px;
    border-bottom: 1px solid white;
    transition: 0.5s;

}
#web_top nav a:hover {
    background-color: #fa0;

}


@media screen and (max-width: 767px) {


    #web_top nav {
        width: 70%;
        height: calc(100vh - 100px);
        background-color: #ff3333;
        position: absolute;
        top: 70px;
        left: -100%;
        transition: .5s;
        z-index: 99;

    }

    /* 讀取checkbox的狀態 */
    #menu_checked:checked ~ #web_top nav {
        left: 0;
    }





    .menu_btn {
        width: 50px;
        height: 50px;
        border: 1px solid #ffcc99;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu_btn:hover {
        background-color: #ff6633;
    }

    .menu_btn:active {
        background-color: #fa0;
    }

    /* 隱藏span多寫幾種隱藏方式酖作保險 */
    .menu_btn span {
        opacity: 0;
        display: block;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .menu_btn::before {
        content: '';
        width: 42px;
        height: 5px;
        background-color: #ffcc99;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4px;
        margin: auto;
        box-shadow: 0 10px 0 #ffcc99,
                    0 -10px 0 #ffcc99;

    }


    .header_text {
        width: 300px;
        height: 200px;
        background-color: #ffcc99d8;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: scaleY(0);
        transition: 1s;

    }

    .wrap_head:hover .header_text {

        transform: scaleY(1);

    }

    #article .wrap {
        flex-basis: 400px;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;
    }


    #article .wrap_title {
        flex-basis: 400px;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;

    }


    #article .wrap_title img {
        width: 100%;

    }




}


/* 以下為header樣式 */



header {
    width: 100%;
    margin: auto;
    position: relative;

}

.wrap_head {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 0;
}


.header_text h1 {
    font-size: large;
    font-weight: bold;
    font-family: "微軟正黑體", Arial, sans-serif;
    color: #ff3333;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 1em;
}

.header_text p {

    font-size: medium;
    font-weight: bold;
    color: #ff3333;
    margin-left: 20px;
}

.header_pic {

    width: 100%;
    height: 50vh;
    margin: auto;
    background-image: url('/static/images/title.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;


}


/* 以下為以下為article樣式 */

article {
    width: 100%;
    margin: auto;
}

.pic_logo {
    width: 400px;
    margin: auto;

}

.pic_logo img {
    width: 100%;
}



#pic_com {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff6633;
}

#pic_com img{
    width: 400px;
}


.text_style {

    width: 80%;
    margin: auto;



}



.text_style p {
    width: 100%;
    margin: auto;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.text_style > h1 {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.art_title {
    width: 100%;
    line-height: 3em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #ffcc99;
    background-color: #ff6633;

}


#article {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3em;
}

#article .wrap img {
    width: 100%;
}

#go_top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    transition: 0.3s;


}

#go_top:hover {
    border: 3px solid #fa0;
    border-radius: 5px;

}

footer {
    width: 100%;
    margin: auto;
    background-color: #ff3333;
}

#web_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#web_bottom h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    text-align: center;

}

#web_bottom h1 a {
    transition: 0.3s;
    line-height: unset;
}

#web_bottom  h1 a:hover {

    color: #fa0;

}


#web_bottom a {
    display: block;
    line-height: 2em;
    color: white;
    transition: 0.3s;
}

#copy {
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    color: #aaa;

}

@media screen and (min-width: 768px) and ( max-width: 1199px) {




    .menu_btn {display: none;}

    #web_top nav {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    #web_top nav a {
        color: white;
        border-bottom: none;
        padding: 20px;
    }

    /* header樣式 */

    .wrap_head {
        width: 100%;
        margin: auto;
        margin-top: 0;
        background-color: #ffcc99;
    }


    .header_pic {

        width: 100%;
        height: 100vh;
        margin: auto;
        background-image: url('/static/images/title.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;



    }

    .header_pic img {
        width: 100%;
        vertical-align: bottom;
    }

    @keyframes h_text {

        from {
            left: -100%;
            bottom: 10em;
        }
        to {

            left: 0 ;
            bottom: 10em;
        }

    }


    .header_text {
        width: 45%;
        background-color: #ffcc99d8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: unset;
        left: 0;
        bottom: 10em;
        right: unset;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        animation-name: h_text;
        animation-duration: 1s;
        animation-timing-function: ease;
    }


    .header_text h1 {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        font-family: "微軟正黑體", Arial, sans-serif;
        color: #ff3333;
        margin-top: 20px;
        margin-bottom: 0.5em;
        margin: auto;
    }

    .header_text p {
        text-align: center;
        font-size: medium;
        font-weight: bold;
        color: #ff3333;
        margin: auto;
    }

    #story {
        margin: auto;
        margin-bottom: 3em;


    }
    #story .pic_logo {
        width: 400px;
        margin: auto;
    }

    #story .text_style {
        width: 60%;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;

    }

    #commodity .text_style {
        width: 60%;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;
    }



    #pic_com {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2em;
        background-color: #ff6633;
    }



    #article {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        margin: auto;
    }

    #article .wrap {
        flex-basis: 400px;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;

    }


    #article .wrap img {
        width: 100%;

    }



    #article .wrap_title {
        flex-basis: 800px;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;

    }

    #article .wrap_title img {
        width: 100%;

    }


    #web_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
    }

}



@media screen and (min-width: 1200px) {


    .menu_btn {display: none;}

    #web_top nav {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }

    #web_top nav a {

        color: white;
        border-bottom: none;
        padding: 20px;
    }

    /* header樣式 */

    .wrap_head {
        width: 100%;
        margin: auto;
        margin-top: 0;
        background-color: #ffcc99;
    }


    .header_pic {

        width: 100%;
        height: 100vh;
        margin: auto;
        background-image: url('/static/images/title.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;



    }

    .header_pic img {
        width: 100%;
        vertical-align: bottom;
    }


    @keyframes h_text {

        from {
            left: -100%;
            bottom: 10em;
        }
        to {

            left: 0 ;
            bottom: 10em;
        }

    }


    .header_text {
        width: 45%;
        background-color: #ffcc99d8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: unset;
        left: 0;
        bottom: 10em;
        right: unset;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        animation: h_text 1s ease;
    }


    .header_text h1 {
        font-size: x-large;
        font-weight: bold;
        font-family: "微軟正黑體", Arial, sans-serif;
        text-align: center;
        color: #ff3333;
        margin-top: 20px;
        margin: auto;
        margin-bottom: 0.5em;
    }

    .header_text p {
        text-align: center;
        font-size: medium;
        font-weight: bold;
        color: #ff3333;
        margin: auto;
    }

    #story {
        margin: auto;
        margin-bottom: 3em;


    }
    #story .pic_logo {
        width: 30%;
        margin: auto;
    }

    #story .text_style {
        width: 40%;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;

    }

    #commodity .text_style {
        width: 40%;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;
    }



    #pic_com {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2em;
        background-color: #ff6633;
    }



    #article {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        margin: auto;
    }

    #article .wrap {
        flex-basis: 400px;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;

    }


    #article .wrap img {
        width: 100%;

    }


    #article .wrap_title {
        flex-basis: 800px;
        margin: auto;
        box-shadow: 0 0 5px 0px #ccc;
        padding: 2em 2em;
        margin: 2em auto;

    }

    #article .wrap_title img {
        width: 100%;

    }


    #web_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
    }


}


/* 以下為購買樣式 */

section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
}

.form_bg {

    background-color: #ff6633;
    backdrop-filter: blur(5px);
    width: 500px;
    padding: 2em 2em;
    border-radius: 10px;

}



.form_bg form div {
    height: 40px;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


input {
    width: 40%;
    height: 30px;
}

input:hover {
    box-shadow: 0px 0px 5px 5px #ffcc99;
    border: 2px solid #ff3333;
    border-radius: 5px;

}

.on_sub {
    width: 100px;
    background-color: #ffcc99;
    border: none;
    color: #ff3333;
    font-size: medium;
    font-weight: 900;
    font-family: "微軟正黑體";
}

#user {

    width: 100px;
    background-color: #ffcc99;
    border: none;
    color: #ff3333;
    font-size: medium;
    font-weight: 900;
    font-family: "微軟正黑體";

}


#user:hover {
    border: 2px solid #ff3333;
    border-radius: 5px;

}

/* 訂單樣式 */



.boss-h1 {

    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 2em auto;

}


.boss-h2 {

    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 2em auto;

}


#total {

    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    margin: auto;
    margin-bottom: 2em;

}
#table {

    border: 2px solid #333;
    margin-top: 1em;
    margin-bottom: 1em;

}
.ship {

    display: block;
    font-weight: bold;
    font-family: "微軟正黑體";
    font-size: large;
    color: #ff3333;
    text-align: center;
    line-height: 30px;
    transition: .5s;
    border-bottom: 1px solid #333;

}

.ship:hover {
    color: #ff6633;
    background-color: #ffcc99;
}
#total p {

    width: 350px;
    line-height: 36px;
    border-bottom: 1px solid #333;

}

.error {

    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error h1 {
    font-size: 5em;
    text-align: center;
}

.del {
    /* width: 208px; */
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #ff3333;
    text-align: center;
    line-height: 30px;
    transition: .5s;
}

.del:hover {
    color: #ff6633;
    background-color: #ffcc99;
}
