/* 以下為共有樣式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* 以下為選單樣式 */

/* 隱藏checked多寫幾種隱藏方式酖作保險 */
#menu_checked {
    position: absolute;
    z-index: -99;
    opacity: 0;
}

#web_top {
    height: 70px;
    background-color: #ff3333;
    position: relative;    
}

#web_top nav {
    width: 70%;
    height: calc(100vh - 100px);
    background-color: #ff3333;
    position: absolute;
    top: 70px;
    left: -100%;
    transition: 1s;
    
}

/* 讀取checkbox的狀態 */
#menu_checked:checked ~ #web_top nav {
    left: 0;
} 

#web_top nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 50px;
    border-bottom: 1px solid white;
}


.menu_btn {
    width: 50px;
    height: 50px;
    border: 1px solid #ffcc99;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 隱藏span多寫幾種隱藏方式酖作保險 */
.menu_btn span {
    opacity: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.menu_btn::before {
    content: '';
    width: 42px;
    height: 5px;
    background-color: #ffcc99;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
    margin: auto;
    box-shadow: 0 10px 0 #ffcc99,
                0 -10px 0 #ffcc99;
    
}

/* 以下為header樣式 */

header {
    width: 100%;
    margin: auto;
    position: relative;
    z-index: -1;
}

.header_text {
    width: 70%;
    height: 200px;
    background-color: rgba(255, 204, 153, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   
}

.header_text h1 {
    font-size: large;
    font-family: "微軟正黑體", Arial, sans-serif;
    color: #ff6633;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 1em;
}

.header_text h4 {
    font-size: small;
    font-family: "微軟正黑體", Arial, sans-serif;
    color: #ff6633;
    margin-left: 20px;
}

.header_pic {
    width: 80%;
    margin: auto;
}

.header_pic img {
    width: 100%;
    vertical-align: bottom;
}
